@model FirstApplication.Models.Premium_Works

@{
    ViewBag.Title = "Edit";
}

@Styles.Render("~/Content/Subscription.css")



@using (Html.BeginForm(Html.BeginForm("Edit", "Premium_Works", FormMethod.Post, new { enctype = "multipart/form-data" })))
{
    @Html.AntiForgeryToken()

    <div class="BigWindow">
        <h2 id="Caption">Редактирование подписки</h2>
        <div class=" SmallWindow">
            @Html.HiddenFor(model => model.Number_Premium_Work)
            <span class="Name">Название</span>
            @Html.EditorFor(model => model.Name_Premium_Work)
            <br />
            <span class="Description" style="font-weight:bold; text-align:center">Описание</span>
            @Html.TextAreaFor(model => model.Description_Premium_Work)
            <br />
            <span class="Description" style=" font-weight:bold">Цена</span>
            @Html.EditorFor(model => model.Price_Premium_Work)
            <br />
            <span id="Photo" style="font-weight:bold; text-align:center">Картинка</span>
            <input id="ForPhoto" type="file" name="Pic" />
            <br />

        </div>
        <input class="btnEditAndBack BtnLink" type="submit" value="Изменить" />
        <span class="btnEditAndBack">@Html.ActionLink("Назад", "Index", null, new { @class = "BtnLink" })</span>
    </div>


}

