@model FirstApplication.Models.Workouts

@{
    ViewBag.Title = "Details";
}

@Styles.Render("~/Content/Workouts.css")
<input type="hidden" value="@ViewBag.idWork" id="mode" />
<div class="BigWindow">
    <div class=" SmallWindow">

        <span class="Name"> Название </span>
        <span class="Description"> @Html.DisplayFor(model => model.Name_Workout) </span>
        <br />
        <span class="Name"> Описание </span>
        <span class="Description">  @Html.DisplayFor(model => model.Description_Workout) </span>
        <br />
        <span class="Name">Премиум-тренировка </span>
        <span class=" Description">@Html.DisplayFor(model => model.Premium_Works.Name_Premium_Work)</span>
        <br />
        <span class="Name">Тип тренировки </span>
        <span class=" Description">@Html.DisplayFor(model => model.Types_Workout.Name_Type) </span>
        <br />
        <span class="btnEditAndBack">@Html.ActionLink("Редактировать тренировку", "Edit", new { id = Model.ID_Workout }, new { @class = "BtnLink" })</span>
        <span class="btnEditAndBack">@Html.ActionLink("Назад", "Index", null, new { @class = "BtnLink" })</span>
    </div>
</div>
<h2 class="Elements">Упражнения, входящие в тренировку</h2>
@Html.DropDownList("Exercises",null,new { id= "forDropDownList" })
<div class="Elements" id="results"></div>

@Scripts.Render("~/scripts/jquery-3.5.1.min.js")
@Scripts.Render("~/scripts/jquery.unobtrusive-ajax.js")
@Scripts.Render("~/Scripts/ForLoadWork.js")


