@model FirstApplication.Models.Exercises

@{
    ViewBag.Title = "Create";
}
@Styles.Render("~/Content/Exercise.css")


@using (Html.BeginForm("Create", "Exercises", FormMethod.Post, new { enctype = "multipart/form-data" }))
{
    @Html.AntiForgeryToken()

    <div class="BigWindow">
        <h2 id="Caption">Добавление упражнения</h2>
        <div class=" SmallWindow">

            <span class="Name">Название</span>
            @Html.EditorFor(model => model.Name_Exercise)
            <br />
            <span class="Description" style="font-weight:bold; text-align:center">Описание</span>
            @Html.TextAreaFor(model => model.Description_Exercise)
            <br />
            <span class="Description" style=" font-weight:bold">Длительность</span>
            @Html.EditorFor(model => model.Duration_Exercise)
            <br />
            <span class="Description" style=" font-weight:bold">Тип</span>
            @Html.DropDownList("Type_Exercise")
            <br />

            <span class="Description" style=" font-weight:bold">Премиум - тренировка</span>
            @Html.DropDownList("Premium_Work_Number")
            <br />
            <span id="Photo" style="font-weight:bold; text-align:center">Картинка</span>
            <input id="ForPhoto" type="file" name="Pic" />
            <br />

        </div>
        <input class="btnEditAndBack BtnLink" type="submit" value="Добавить" />
        <span class="btnEditAndBack">@Html.ActionLink("Назад", "Index", null, new { @class = "BtnLink" })</span>
    </div>
}



