@model FirstApplication.Models.Exercises

@{
    ViewBag.Title = "Details";
}
@Styles.Render("~/Content/Exercise.css")
<div class="BigWindow">
    <div class=" SmallWindow">

        <span class="Name"> Название </span>
        <span class="Description"> @Html.DisplayFor(model => model.Name_Exercise) </span>
        <br />
        <span class="Name"> Описание </span>
        <span class="Description">  @Html.DisplayFor(model => model.Description_Exercise) </span>
        <br />
        <span class="Name">Длительность </span>
        <span class=" Description">@Html.DisplayFor(model => model.Duration_Exercise) сек</span>
        <br />
        <span class="Name">Премиум-тренировка </span>
        <span class=" Description">@Html.DisplayFor(model => model.Premium_Works.Name_Premium_Work)</span>
        <br />
        <span class="Name">Тип тренировки </span>
        <span class=" Description">@Html.DisplayFor(model => model.Types_Workout.Name_Type) </span>
        <br />
        <span class="btnEditAndBack">@Html.ActionLink("Редактировать упражнение", "Edit", new { id = Model.ID_Exercise }, new { @class = "BtnLink" })</span>
        <span class="btnEditAndBack">@Html.ActionLink("Назад", "Index", null, new { @class = "BtnLink" })</span>

    </div>
</div>


